<!--Footer Start-->
<footer class="footer">
  <div class="footer-top wf100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <!--Footer Widget Start-->
          <div class="footer-widget">
            <h4>A Propos de VaryTech</h4>
            <p>
              Application web d'agriculture intelligente et durable, conçue pour
              aider les agriculteurs à suivre leurs cultures, optimiser les
              ressources et adopter des pratiques écoresponsables.
            </p>
            <a href="#" class="lm">A PROPOS DE NOUS</a>
          </div>
          <!--Footer Widget End-->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <!--Footer Widget Start-->
          <div class="footer-widget">
            <h4>Nos promesses</h4>
            <ul class="quick-links">
              <li><a href="#">Suivi intelligent</a></li>
              <li><a href="#">Gestion durable</a></li>
              <li><a href="#">Analyse rapide</a></li>
              <li><a href="#">Alerte climatique</a></li>
              <li><a href="#">Optimisation ressources</a></li>
              <li><a href="#">Collaboration agricole</a></li>
            </ul>
          </div>
          <!--Footer Widget End-->
        </div>
        {% comment %} <div class="col-lg-3 col-md-6 col-sm-6">
          <!--Footer Widget Start-->
          <div class="footer-widget">
            <h4>Latest Posts</h4>
            <ul class="lastest-products">
              <li>
                <img src="images/flp1.jpg" alt="" />
                <strong
                  ><a href="#"
                    >How you can keep alive wild animals for...</a
                  ></strong
                >
                <span class="pdate"><i>Posted:</i> 29 September, 2018</span>
              </li>
              <li>
                <img src="images/flp2.jpg" alt="" />
                <strong
                  ><a href="#"
                    >Eliminate your plastic bottle pollution & keep...</a
                  ></strong
                >
                <span class="pdate"><i>Posted:</i> 29 September, 2018</span>
              </li>
              <li>
                <img src="images/flp3.jpg" alt="" />
                <strong
                  ><a href="#"
                    >How you can keep alive wild animals for...</a
                  ></strong
                >
                <span class="pdate"><i>Posted:</i> 29 September, 2018</span>
              </li>
            </ul>
          </div>
          <!--Footer Widget End-->
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="footer-copyr wf100">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <img src="images/logo.png" alt="" />
        </div>
        <div class="col-md-8 col-sm-8">
          <p>
            <a target="_blank" href="https://www.linkedin.com/in/tafita-anael-b3a4392b9/"
              >Equipe BrainWave</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
